# some comm rules
*.o
*.a
*.lo
*.la
autom4te.cache/

# cdb related
cdb/cdb_shm_dump

# ignore list after first configure
BUILD/Makefile
Docs/Makefile
Makefile
client/.deps/
client/Makefile
cmd-line-utils/Makefile
cmd-line-utils/libedit/.deps/
cmd-line-utils/libedit/Makefile
cmd-line-utils/readline/.deps/
cmd-line-utils/readline/Makefile
config.log
config.status
dbug/.deps/
dbug/Makefile
extra/.deps/
extra/Makefile
extra/yassl/Makefile
extra/yassl/src/.deps/
extra/yassl/src/Makefile
extra/yassl/taocrypt/Makefile
extra/yassl/taocrypt/benchmark/.deps/
extra/yassl/taocrypt/benchmark/Makefile
extra/yassl/taocrypt/src/.deps/
extra/yassl/taocrypt/src/Makefile
extra/yassl/taocrypt/test/.deps/
extra/yassl/taocrypt/test/Makefile
extra/yassl/testsuite/.deps/
extra/yassl/testsuite/Makefile
include/Makefile
include/config.h
include/mysql_version.h
include/stamp-h1
libmysql/.deps/
libmysql/Makefile
libmysql/libmysql.ver
libmysql_r/.deps/
libmysql_r/Makefile
libmysqld/.deps/
libmysqld/Makefile
libmysqld/examples/.deps/
libmysqld/examples/Makefile
libtool
man/Makefile
mysql-test/Makefile
mysql-test/lib/My/SafeProcess/.deps/
mysql-test/lib/My/SafeProcess/Makefile
mysys/.deps/
mysys/Makefile
netware/.deps/
netware/Makefile
plugin/Makefile
plugin/daemon_example/.deps/
plugin/daemon_example/Makefile
plugin/fulltext/.deps/
plugin/fulltext/Makefile
regex/.deps/
regex/Makefile
scripts/.deps/
scripts/Makefile
server-tools/Makefile
server-tools/instance-manager/.deps/
server-tools/instance-manager/Makefile
sql-bench/Makefile
sql-common/Makefile
sql/.deps/
sql/Makefile
sql/share/Makefile
storage/Makefile
storage/archive/.deps/
storage/archive/Makefile
storage/blackhole/.deps/
storage/blackhole/Makefile
storage/csv/.deps/
storage/csv/Makefile
storage/example/.deps/
storage/example/Makefile
storage/federated/.deps/
storage/federated/Makefile
storage/heap/.deps/
storage/heap/Makefile
storage/innobase/.deps/
storage/innobase/Makefile
storage/innodb_plugin/.deps/
storage/innodb_plugin/Makefile
storage/myisam/.deps/
storage/myisam/Makefile
storage/myisammrg/.deps/
storage/myisammrg/Makefile
storage/ndb/Makefile
storage/ndb/docs/Makefile
storage/ndb/include/Makefile
storage/ndb/src/Makefile
storage/ndb/src/common/Makefile
storage/ndb/src/common/debugger/.deps/
storage/ndb/src/common/debugger/Makefile
storage/ndb/src/common/debugger/signaldata/.deps/
storage/ndb/src/common/debugger/signaldata/Makefile
storage/ndb/src/common/logger/.deps/
storage/ndb/src/common/logger/Makefile
storage/ndb/src/common/mgmcommon/.deps/
storage/ndb/src/common/mgmcommon/Makefile
storage/ndb/src/common/portlib/.deps/
storage/ndb/src/common/portlib/Makefile
storage/ndb/src/common/transporter/.deps/
storage/ndb/src/common/transporter/Makefile
storage/ndb/src/common/util/.deps/
storage/ndb/src/common/util/Makefile
storage/ndb/src/cw/Makefile
storage/ndb/src/cw/cpcd/.deps/
storage/ndb/src/cw/cpcd/Makefile
storage/ndb/src/kernel/.deps/
storage/ndb/src/kernel/Makefile
storage/ndb/src/kernel/blocks/.deps/
storage/ndb/src/kernel/blocks/Makefile
storage/ndb/src/kernel/blocks/backup/.deps/
storage/ndb/src/kernel/blocks/backup/Makefile
storage/ndb/src/kernel/blocks/dbdict/.deps/
storage/ndb/src/kernel/blocks/dbdict/Makefile
storage/ndb/src/kernel/blocks/dbdih/.deps/
storage/ndb/src/kernel/blocks/dbdih/Makefile
storage/ndb/src/kernel/blocks/dblqh/.deps/
storage/ndb/src/kernel/blocks/dblqh/Makefile
storage/ndb/src/kernel/blocks/dbtup/.deps/
storage/ndb/src/kernel/blocks/dbtup/Makefile
storage/ndb/src/kernel/error/.deps/
storage/ndb/src/kernel/error/Makefile
storage/ndb/src/kernel/vm/.deps/
storage/ndb/src/kernel/vm/Makefile
storage/ndb/src/mgmapi/.deps/
storage/ndb/src/mgmapi/Makefile
storage/ndb/src/mgmclient/.deps/
storage/ndb/src/mgmclient/Makefile
storage/ndb/src/mgmsrv/.deps/
storage/ndb/src/mgmsrv/Makefile
storage/ndb/src/ndbapi/.deps/
storage/ndb/src/ndbapi/Makefile
storage/ndb/test/Makefile
storage/ndb/test/ndbapi/.deps/
storage/ndb/test/ndbapi/Makefile
storage/ndb/test/ndbapi/bank/.deps/
storage/ndb/test/ndbapi/bank/Makefile
storage/ndb/test/run-test/.deps/
storage/ndb/test/run-test/Makefile
storage/ndb/test/src/.deps/
storage/ndb/test/src/Makefile
storage/ndb/test/tools/.deps/
storage/ndb/test/tools/Makefile
storage/ndb/tools/.deps/
storage/ndb/tools/Makefile
strings/.deps/
strings/Makefile
support-files/MacOSX/Makefile
support-files/Makefile
support-files/RHEL4-SElinux/Makefile
tests/.deps/
tests/Makefile
unittest/Makefile
unittest/examples/.deps/
unittest/examples/Makefile
unittest/mysys/.deps/
unittest/mysys/Makefile
unittest/mytap/.deps/
unittest/mytap/Makefile
unittest/mytap/t/.deps/
unittest/mytap/t/Makefile
unittest/strings/.deps/
unittest/strings/Makefile
vio/.deps/
vio/Makefile
win/Makefile
zlib/.deps/
zlib/Makefile

# inserted after first build

client/.libs/
client/decimal.c
client/link_sources
client/log_event.cc
client/log_event.h
client/log_event_old.cc
client/log_event_old.h
client/my_decimal.cc
client/my_decimal.h
client/mysql
client/mysql_priv.h
client/mysql_upgrade
client/mysqladmin
client/mysqlbinlog
client/mysqlcheck
client/mysqldump
client/mysqlimport
client/mysqlshow
client/mysqlslap
client/mysqltest
client/rpl_constants.h
client/rpl_record_old.cc
client/rpl_record_old.h
client/rpl_tblmap.cc
client/rpl_tblmap.h
client/rpl_utility.h
cmd-line-utils/libedit/common.h
cmd-line-utils/libedit/emacs.h
cmd-line-utils/libedit/fcns.h
cmd-line-utils/libedit/help.h
cmd-line-utils/libedit/makelist
cmd-line-utils/libedit/vi.h
dbug/dbug_analyze
dbug/example1.r
dbug/example2.r
dbug/example3.r
dbug/factorial
dbug/factorial.r
dbug/main.r
dbug/output1.r
dbug/output2.r
dbug/output3.r
dbug/output4.r
dbug/output5.r
dbug/user.ps
dbug/user.t
extra/charset2html
extra/innochecksum
extra/my_print_defaults
extra/mysql_waitpid
extra/perror
extra/replace
extra/resolve_stack_dump
extra/resolveip
include/link_sources
include/my_config.h
include/readline
libmysql/.libs/
libmysql/array.c
libmysql/bchange.c
libmysql/bmove.c
libmysql/bmove_upp.c
libmysql/charset-def.c
libmysql/charset.c
libmysql/client.c
libmysql/conf_to_src
libmysql/ctype-big5.c
libmysql/ctype-bin.c
libmysql/ctype-cp932.c
libmysql/ctype-czech.c
libmysql/ctype-euc_kr.c
libmysql/ctype-eucjpms.c
libmysql/ctype-extra.c
libmysql/ctype-gb2312.c
libmysql/ctype-gbk.c
libmysql/ctype-latin1.c
libmysql/ctype-mb.c
libmysql/ctype-simple.c
libmysql/ctype-sjis.c
libmysql/ctype-tis620.c
libmysql/ctype-uca.c
libmysql/ctype-ucs2.c
libmysql/ctype-ujis.c
libmysql/ctype-utf8.c
libmysql/ctype-win1250ch.c
libmysql/ctype.c
libmysql/dbug.c
libmysql/default.c
libmysql/default_modify.c
libmysql/errors.c
libmysql/hash.c
libmysql/int2str.c
libmysql/is_prefix.c
libmysql/link_sources
libmysql/list.c
libmysql/llstr.c
libmysql/longlong2str.c
libmysql/md5.c
libmysql/mf_arr_appstr.c
libmysql/mf_cache.c
libmysql/mf_dirname.c
libmysql/mf_fn_ext.c
libmysql/mf_format.c
libmysql/mf_iocache.c
libmysql/mf_iocache2.c
libmysql/mf_loadpath.c
libmysql/mf_pack.c
libmysql/mf_path.c
libmysql/mf_qsort.c
libmysql/mf_tempfile.c
libmysql/mf_unixpath.c
libmysql/mf_wcomp.c
libmysql/mulalloc.c
libmysql/my_alloc.c
libmysql/my_chsize.c
libmysql/my_compress.c
libmysql/my_create.c
libmysql/my_delete.c
libmysql/my_div.c
libmysql/my_error.c
libmysql/my_file.c
libmysql/my_fopen.c
libmysql/my_fstream.c
libmysql/my_gethostbyname.c
libmysql/my_getopt.c
libmysql/my_getsystime.c
libmysql/my_getwd.c
libmysql/my_init.c
libmysql/my_lib.c
libmysql/my_malloc.c
libmysql/my_messnc.c
libmysql/my_net.c
libmysql/my_once.c
libmysql/my_open.c
libmysql/my_port.c
libmysql/my_pread.c
libmysql/my_pthread.c
libmysql/my_read.c
libmysql/my_realloc.c
libmysql/my_rename.c
libmysql/my_seek.c
libmysql/my_sleep.c
libmysql/my_static.c
libmysql/my_static.h
libmysql/my_strtoll10.c
libmysql/my_symlink.c
libmysql/my_sync.c
libmysql/my_thr_init.c
libmysql/my_time.c
libmysql/my_vsnprintf.c
libmysql/my_write.c
libmysql/mysys_priv.h
libmysql/net.c
libmysql/pack.c
libmysql/safemalloc.c
libmysql/sha1.c
libmysql/str2int.c
libmysql/str_alloc.c
libmysql/strcend.c
libmysql/strcont.c
libmysql/strend.c
libmysql/strfill.c
libmysql/string.c
libmysql/strinstr.c
libmysql/strmake.c
libmysql/strmov.c
libmysql/strnlen.c
libmysql/strnmov.c
libmysql/strto.c
libmysql/strtod.c
libmysql/strtoll.c
libmysql/strtoull.c
libmysql/strxmov.c
libmysql/strxnmov.c
libmysql/thr_mutex.c
libmysql/typelib.c
libmysql/vio.c
libmysql/vio_priv.h
libmysql/viosocket.c
libmysql/viossl.c
libmysql/viosslfactories.c
libmysql/xml.c
libmysql_r/.libs/
libmysql_r/array.c
libmysql_r/bchange.c
libmysql_r/bmove.c
libmysql_r/bmove_upp.c
libmysql_r/charset-def.c
libmysql_r/charset.c
libmysql_r/client.c
libmysql_r/client_settings.h
libmysql_r/conf_to_src
libmysql_r/ctype-big5.c
libmysql_r/ctype-bin.c
libmysql_r/ctype-cp932.c
libmysql_r/ctype-czech.c
libmysql_r/ctype-euc_kr.c
libmysql_r/ctype-eucjpms.c
libmysql_r/ctype-extra.c
libmysql_r/ctype-gb2312.c
libmysql_r/ctype-gbk.c
libmysql_r/ctype-latin1.c
libmysql_r/ctype-mb.c
libmysql_r/ctype-simple.c
libmysql_r/ctype-sjis.c
libmysql_r/ctype-tis620.c
libmysql_r/ctype-uca.c
libmysql_r/ctype-ucs2.c
libmysql_r/ctype-ujis.c
libmysql_r/ctype-utf8.c
libmysql_r/ctype-win1250ch.c
libmysql_r/ctype.c
libmysql_r/dbug.c
libmysql_r/default.c
libmysql_r/default_modify.c
libmysql_r/dll.c
libmysql_r/errmsg.c
libmysql_r/errors.c
libmysql_r/get_password.c
libmysql_r/hash.c
libmysql_r/int2str.c
libmysql_r/is_prefix.c
libmysql_r/libmysql.c
libmysql_r/link_sources
libmysql_r/list.c
libmysql_r/llstr.c
libmysql_r/longlong2str.c
libmysql_r/manager.c
libmysql_r/md5.c
libmysql_r/mf_arr_appstr.c
libmysql_r/mf_cache.c
libmysql_r/mf_dirname.c
libmysql_r/mf_fn_ext.c
libmysql_r/mf_format.c
libmysql_r/mf_iocache.c
libmysql_r/mf_iocache2.c
libmysql_r/mf_loadpath.c
libmysql_r/mf_pack.c
libmysql_r/mf_path.c
libmysql_r/mf_qsort.c
libmysql_r/mf_tempfile.c
libmysql_r/mf_unixpath.c
libmysql_r/mf_wcomp.c
libmysql_r/mulalloc.c
libmysql_r/my_alloc.c
libmysql_r/my_chsize.c
libmysql_r/my_compress.c
libmysql_r/my_create.c
libmysql_r/my_delete.c
libmysql_r/my_div.c
libmysql_r/my_error.c
libmysql_r/my_file.c
libmysql_r/my_fopen.c
libmysql_r/my_fstream.c
libmysql_r/my_gethostbyname.c
libmysql_r/my_getopt.c
libmysql_r/my_getsystime.c
libmysql_r/my_getwd.c
libmysql_r/my_init.c
libmysql_r/my_lib.c
libmysql_r/my_malloc.c
libmysql_r/my_messnc.c
libmysql_r/my_net.c
libmysql_r/my_once.c
libmysql_r/my_open.c
libmysql_r/my_port.c
libmysql_r/my_pread.c
libmysql_r/my_pthread.c
libmysql_r/my_read.c
libmysql_r/my_realloc.c
libmysql_r/my_rename.c
libmysql_r/my_seek.c
libmysql_r/my_sleep.c
libmysql_r/my_static.c
libmysql_r/my_static.h
libmysql_r/my_strtoll10.c
libmysql_r/my_symlink.c
libmysql_r/my_sync.c
libmysql_r/my_thr_init.c
libmysql_r/my_time.c
libmysql_r/my_vsnprintf.c
libmysql_r/my_write.c
libmysql_r/mysys_priv.h
libmysql_r/net.c
libmysql_r/pack.c
libmysql_r/password.c
libmysql_r/safemalloc.c
libmysql_r/sha1.c
libmysql_r/str2int.c
libmysql_r/str_alloc.c
libmysql_r/strcend.c
libmysql_r/strcont.c
libmysql_r/strend.c
libmysql_r/strfill.c
libmysql_r/string.c
libmysql_r/strinstr.c
libmysql_r/strmake.c
libmysql_r/strmov.c
libmysql_r/strnlen.c
libmysql_r/strnmov.c
libmysql_r/strto.c
libmysql_r/strtod.c
libmysql_r/strtoll.c
libmysql_r/strtoull.c
libmysql_r/strxmov.c
libmysql_r/strxnmov.c
libmysql_r/thr_mutex.c
libmysql_r/typelib.c
libmysql_r/vio.c
libmysql_r/vio_priv.h
libmysql_r/viosocket.c
libmysql_r/viossl.c
libmysql_r/viosslfactories.c
libmysql_r/xml.c
mysql-test/lib/My/SafeProcess/my_safe_process
plugin/daemon_example/.libs/
plugin/fulltext/.libs/
regex/re
scripts/make_binary_distribution
scripts/make_sharedlib_distribution
scripts/msql2mysql
scripts/mysql_config
scripts/mysql_convert_table_format
scripts/mysql_find_rows
scripts/mysql_fix_extensions
scripts/mysql_fix_privilege_tables
scripts/mysql_install_db
scripts/mysql_secure_installation
scripts/mysql_setpermission
scripts/mysql_zap
scripts/mysqlaccess
scripts/mysqld_multi
scripts/mysqld_safe
scripts/mysqldumpslow
scripts/mysqlhotcopy
server-tools/instance-manager/mysqlmanager
server-tools/instance-manager/net_serv.cc
sql-bench/bench-count-distinct
sql-bench/bench-init.pl
sql-bench/compare-results
sql-bench/copy-db
sql-bench/crash-me
sql-bench/graph-compare-results
sql-bench/innotest1
sql-bench/innotest1a
sql-bench/innotest1b
sql-bench/innotest2
sql-bench/innotest2a
sql-bench/innotest2b
sql-bench/run-all-tests
sql-bench/server-cfg
sql-bench/test-ATIS
sql-bench/test-alter-table
sql-bench/test-big-tables
sql-bench/test-connect
sql-bench/test-create
sql-bench/test-insert
sql-bench/test-select
sql-bench/test-transactions
sql-bench/test-wisconsin
sql/.libs/
sql/client.c
sql/gen_lex_hash
sql/lex_hash.h
sql/link_sources
sql/mini_client_errors.c
sql/my_time.c
sql/my_user.c
sql/mysql_tzinfo_to_sql
sql/mysqld
sql/pack.c
storage/archive/.libs/
storage/archive/archive_reader
storage/archive/archive_test
storage/blackhole/.libs/
storage/example/.libs/
storage/federated/.libs/
storage/heap/hp_test1
storage/heap/hp_test2
storage/innobase/.libs/
storage/innodb_plugin/.libs/
storage/myisam/mi_test1
storage/myisam/mi_test2
storage/myisam/mi_test3
storage/myisam/mi_test_all
storage/myisam/myisam_ftdump
storage/myisam/myisamchk
storage/myisam/myisamlog
storage/myisam/myisampack
storage/myisam/rt_test
storage/myisam/sp_test
strings/conf_to_src
support-files/MacOSX/Description.plist
support-files/MacOSX/Info.plist
support-files/MacOSX/StartupParameters.plist
support-files/MacOSX/postflight
support-files/MacOSX/preflight
support-files/MySQL-shared-compat.spec
support-files/binary-configure
support-files/config.huge.ini
support-files/config.medium.ini
support-files/config.small.ini
support-files/my-huge.cnf
support-files/my-innodb-heavy-4G.cnf
support-files/my-large.cnf
support-files/my-medium.cnf
support-files/my-small.cnf
support-files/mysql-5.1.54.spec
support-files/mysql-log-rotate
support-files/mysql.server
support-files/mysql.spec
support-files/mysqld_multi.server
support-files/ndb-config-2-node.ini
tests/.libs/
tests/bug25714
tests/insert_test
tests/mysql_client_test
tests/select_test
tests/thread_test
unittest/examples/no_plan-t
unittest/examples/simple-t
unittest/examples/skip-t
unittest/examples/skip_all-t
unittest/examples/todo-t
unittest/mysys/base64-t
unittest/mysys/bitmap-t
unittest/mytap/t/basic-t
unittest/strings/strings-t

extra/comp_err
extra/yassl/taocrypt/benchmark/benchmark
extra/yassl/taocrypt/test/test
extra/yassl/testsuite/testsuite
include/openssl
libmysqld/client.c
libmysqld/client_settings.h
libmysqld/debug_sync.cc
libmysqld/derror.cc
libmysqld/discover.cc
libmysqld/errmsg.c
libmysqld/event_parse_data.cc
libmysqld/examples/completion_hash.cc
libmysqld/examples/completion_hash.h
libmysqld/examples/link_sources
libmysqld/examples/my_readline.h
libmysqld/examples/mysql
libmysqld/examples/mysql.cc
libmysqld/examples/mysql_client_test.c
libmysqld/examples/mysql_client_test_embedded
libmysqld/examples/mysqltest.cc
libmysqld/examples/mysqltest_embedded
libmysqld/examples/readline.cc
libmysqld/examples/sql_string.h
libmysqld/field.cc
libmysqld/field_conv.cc
libmysqld/filesort.cc
libmysqld/get_password.c
libmysqld/gstream.cc
libmysqld/ha_heap.cc
libmysqld/ha_myisam.cc
libmysqld/ha_myisammrg.cc
libmysqld/ha_ndbcluster.cc
libmysqld/ha_ndbcluster_binlog.cc
libmysqld/ha_ndbcluster_cond.cc
libmysqld/ha_partition.cc
libmysqld/handler.cc
libmysqld/hash_filo.cc
libmysqld/hostname.cc
libmysqld/init.cc
libmysqld/item.cc
libmysqld/item_buff.cc
libmysqld/item_cmpfunc.cc
libmysqld/item_create.cc
libmysqld/item_func.cc
libmysqld/item_geofunc.cc
libmysqld/item_row.cc
libmysqld/item_strfunc.cc
libmysqld/item_subselect.cc
libmysqld/item_sum.cc
libmysqld/item_timefunc.cc
libmysqld/item_xmlfunc.cc
libmysqld/key.cc
libmysqld/libmysql.c
libmysqld/link_sources
libmysqld/lock.cc
libmysqld/log.cc
libmysqld/log_event.cc
libmysqld/log_event_old.cc
libmysqld/my_decimal.cc
libmysqld/my_time.c
libmysqld/my_user.c
libmysqld/net_serv.cc
libmysqld/opt_range.cc
libmysqld/opt_sum.cc
libmysqld/pack.c
libmysqld/parse_file.cc
libmysqld/partition_info.cc
libmysqld/password.c
libmysqld/procedure.cc
libmysqld/protocol.cc
libmysqld/records.cc
libmysqld/rpl_filter.cc
libmysqld/rpl_injector.cc
libmysqld/rpl_record.cc
libmysqld/rpl_record_old.cc
libmysqld/scheduler.cc
libmysqld/set_var.cc
libmysqld/sp.cc
libmysqld/sp_cache.cc
libmysqld/sp_head.cc
libmysqld/sp_pcontext.cc
libmysqld/sp_rcontext.cc
libmysqld/spatial.cc
libmysqld/sql_acl.cc
libmysqld/sql_analyse.cc
libmysqld/sql_base.cc
libmysqld/sql_builtin.cc
libmysqld/sql_cache.cc
libmysqld/sql_class.cc
libmysqld/sql_connect.cc
libmysqld/sql_crypt.cc
libmysqld/sql_cursor.cc
libmysqld/sql_db.cc
libmysqld/sql_delete.cc
libmysqld/sql_derived.cc
libmysqld/sql_do.cc
libmysqld/sql_error.cc
libmysqld/sql_handler.cc
libmysqld/sql_help.cc
libmysqld/sql_insert.cc
libmysqld/sql_lex.cc
libmysqld/sql_list.cc
libmysqld/sql_load.cc
libmysqld/sql_locale.cc
libmysqld/sql_manager.cc
libmysqld/sql_map.cc
libmysqld/sql_parse.cc
libmysqld/sql_partition.cc
libmysqld/sql_plugin.cc
libmysqld/sql_prepare.cc
libmysqld/sql_profile.cc
libmysqld/sql_rename.cc
libmysqld/sql_select.cc
libmysqld/sql_servers.cc
libmysqld/sql_show.cc
libmysqld/sql_state.c
libmysqld/sql_string.cc
libmysqld/sql_table.cc
libmysqld/sql_tablespace.cc
libmysqld/sql_test.cc
libmysqld/sql_trigger.cc
libmysqld/sql_udf.cc
libmysqld/sql_union.cc
libmysqld/sql_update.cc
libmysqld/sql_view.cc
libmysqld/sql_yacc.cc
libmysqld/strfunc.cc
libmysqld/table.cc
libmysqld/thr_malloc.cc
libmysqld/time.cc
libmysqld/tztime.cc
libmysqld/uniques.cc
libmysqld/unireg.cc
scripts/comp_sql
sql/share/japanese-sjis/
start.sh
tags
tmp.txt
zlib/.libs/

scripts/mysqlbug
